{% extends 'webapp/base.html' %}
{% block content %}
    <ul class="uk-tab" data-uk-tab="{connect:'#properties-tabs'}">
        <li><a href="">Properties</a></li>
        <li><a href="">Extra</a></li>
    </ul>

    <ul id="properties-tabs" class="uk-switcher uk-margin">
        <li>
            <table class="uk-table uk-table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Manager</th>
                    <th>Address</th>
                    <th class="uk-hidden-small">Description</th>
                    <th class="uk-hidden-small">Picture</th>
                </tr>
                </thead>
                <tbody>
                {% for property in properties %}
                    <tr class="clickable-row" href="{% url 'webapp:property' property.id %}">
                        <td>{{ property.name }}</td>
                        <td>{{ property.manager.username }}</td>
                        <td>{{ property.address }}, {{ property.zip_code }}</td>
                        <td class="uk-hidden-small">{{ property.description }}</td>
                        <td class="uk-hidden-small"><img src="{{ unit.get_street_view }}"/></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <script>jQuery(document).ready(function ($) {
                $(".clickable-row").click(function () {
                    window.document.location = $(this).attr("href");
                });
            });</script>
        </li>
    </ul>
{% endblock %}